.NewsLetter-input {
  background: #151515;
  border: 4px solid #383f3e;
  border-radius: 14px;
  padding: 10px 20px;
}
.NewsLetter-input input {
  width: 100%;
  border: none;
  outline: none;
  background-color: transparent;
}
